@CHARSET "UTF-8"


body {
    color: #333333;
    font-famiry: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}


#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
    position: fixed;
}


#content {
    width: 94%;
    margin-top: 15px;
    margin-left: 3%
}


h1 {
    width: 94%;
    padding-top: 17px;
    padding-left: 3%;
    font-size: 24px;
    color: #eeeeee;
    display: inline;
}

h1 {
    font-size: 24px;
    display: inline;
}



h2 {
    font-size: 36px;
    margin-bottom: 15px;
}


li {
    margin-top: 10px;
    margin-bottom: 10px;
}


p {
    margin-top: 15px;
    margin-bottom: 15px;
}


a {
    text-decoration: none;
    color: #24738e
}


table, tr, th, td {
    border: 1px solid #cccccc;
}


table {
    width: 100%;
    table-layout: fixed;
}


th {
    width: 26%;
    padding: 10px 2%;
}


td {
    width: 66%;
    padding: 10px 2%;
}


button {
    font-size: 14px;
    padding: 5px 10px;
}


#footer {
    text-align: center;

}


#flush_success {
    width: 100%;
    padding-top: 20px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}


#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}


table#user_list th {
    width: 30%;
    padding: 10px 2%;
}


table#user_list td {
    width: 29%;
    padding: 10px 2%;
}


tr.row1 {
    background-color: #f2f2f2;
}


tr.row0 {
    background-color: #ffffff;
}


select {
    height: 30px;
}


#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}


#user_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}


#header a {
    color: #eeeeee;
}


h1 a {
    color: #eeeeee;
}




table.kakeibo_list th {
    font-weight: bold;
    paddin: 10px 2%;
}


table.kakeibo_list .kakeibo_updated {
    width: 10%;
}


table.kakeibo_list .kakeibo_pageName {
    width: 37%;
}


table.kakeibo_list .kakeibo_action {
    width: 5%;
}




table.record_list th {
    font-weight: bold;
    paddin: 10px 2%;
}


table.record_list tbody {
    height: 100px;
    overflow-y: scroll;
}


table.record_list .date {
    width: 7%;
}


table.record_list .item {
    width: 15%;
}


table.record_list .tag {
    width: 7%;
}


table.record_list .income {
    width: 5%;
}


table.record_list .spending {
    width: 5%;
}


table.record_list .total {
    width: 5%;
}


table.record_list .action {
    width: 5%;
}




/* 外枠部分 */
div.y_data_area {
  width: 1800px;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
}

/* タイトル部分 */
table.y_data_title {
  width: 1800px;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0; /* tableのcellspacing="0"の代わり */
}

table.y_data_title th {
  border-top: 1px solid #CCC;
  /*background: #EEF1F4;*/
  text-align: center;
  font-weight: bold;
}

table.y_data_title th,
table.y_data_title td {
  padding: 2px;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

table.y_data_title th.r_none,
table.y_data_title td.r_none {
  border-right: none; /* 右ボーダーの重なりを防止 */
}

/* データ部分 */
div.y_scroll_box {
  width: 1800px;
  max-height: 500px;
  height: auto !important; /* IE6 max-height対応 */
  height: 100px;　/* IE6 max-height対応 */
  overflow-x: hidden; /* 横スクロール非表示 */
  overflow-y: scroll; /* 縦スクロール */
}

div.y_hidden {
  overflow: hidden; /* IE系でデータ部分のテーブルをドラッグした際のズレを防止 */
  padding: 0 0 10px; /* スクロール仕切った際の下ボーダーの重なりを防止 */
}

table.y_data {
  width: 1800px;
  border-collapse: separate;
  border-spacing: 0; /* tableのcellspacing="0"の代わり */
  table-layout: fixed;　/* 内容を固定 */
}

table.y_data th,
table.y_data td {
  padding: 2px;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}

table.y_data td {
  overflow: hidden; /* データが幅を超えたとき非表示に */
  white-space: nowrap; /* データの折り返しを防止 */
}

table.y_data td p {
  margin: 0; /* 余分なマージンを消去 */
}

table.y_data_title th.date,
table.y_data td.date {
    width:20px;
}

table.y_data_title th.item,
table.y_data td.item {
    width:50px;
}

table.y_data_title th.tag,
table.y_data td.tag {
    width:20px;
}

table.y_data_title th.income,
table.y_data td.income {
    width:15px;
}

table.y_data_title th.spending,
table.y_data td.spending {
    width:15px;
}

table.y_data_title th.total,
table.y_data td.total {
    width:10px;
}

table.y_data_title th.action,
table.y_data td.action {
    width:10px;
}


div.input_area {
    background-color: #d4edda;
}




pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}




h3 {
    font-size: larger;
}
